:root {
  --border: #d6dbe1;
  --border-disabled: #c5c6ce;
  --layer-background: #fff;
  --layer-background-subtle: #f9fafb;
  --layer-background-hover: #f3f5f6;
  --layer-background-disabled: #d8dbdf;
  --layer-background-selected: #e5efff;
  --layer-background-inverse: #051224;
  --layer-background-inverse-subtle: #081c36;
  --layer-background-leftmenu: #0091ff;
  --layer-background-leftmenu-hover: rgba(0, 0, 0, 0.1);
  --layer-background-leftmenu-selected: #006edc;
  --layer-alert-background: #c31818;
  --layer-error-background: #fbdfdf;
  --layer-success-background: #e8f7ed;
  --layer-warning-background: #fff7db;
  --layer-information-background: #f0f7ff;
  --text-primary: #081c36;
  --text-secondary: #7589a3;
  --text-placeholder: #7589a3;
  --text-disabled: #b6bec9;
  --text-on-disabled-color: #97a4b5;
  --text-on-color: #fff;
  --text-errors: #d91b1b;
  --text-success: #37b361;
  --text-warning: #e0ac00;
  --text-information: #005ae0;
  --icon-primary: #081c36;
  --icon-secondary: #7589a3;
  --icon-disabled: #b6bec9;
  --icon-on-disabled-color: #97a4b5;
  --icon-on-color: #fff;
  --icon-errors: #d91b1b;
  --icon-success: #37b361;
  --icon-warning: #e0ac00;
  --icon-information: #005ae0;
  --icon-count-noti-enable-bg: #c31818;
  --icon-count-noti-disable-bg: #b6bec9;
  --button-primary-hover: #004bb9;
  --button-primary-pressed: #00378a;
  --button-primary-disabled: #abcdff;
  --button-primary-text: #fff;
  --button-primary-text-disabled: #e5efff;
  --button-primary-focus-bg: #00378a;
  --button-primary-focus-text: #fff;
  --button-secondary-normal: #e5efff;
  --button-secondary-hover: #c7e0ff;
  --button-secondary-pressed: #abcdff;
  --button-secondary-disabled: #e5efff;
  --button-secondary-text: #005ae0;
  --button-secondary-text-disabled: #abcdff;
  --button-secondary-focus-bg: #abcdff;
  --button-secondary-focus-text: #005ae0;
  --button-danger-normal: #c31818;
  --button-danger-hover: #9a1313;
  --button-danger-pressed: #7b0f0f;
  --button-danger-disabled: #f6b6b6;
  --button-danger-text: #fff;
  --button-danger-text-disabled: #fbdfdf;
  --button-danger-focus-bg: #7b0f0f;
  --button-danger-focus-text: #fff;
  --button-secondary-danger-normal: #fbdfdf;
  --button-secondary-danger-hover: #f9cdcd;
  --button-secondary-danger-pressed: #f6b6b6;
  --button-secondary-danger-disabled: #fbdfdf;
  --button-secondary-danger-text: #d91b1b;
  --button-secondary-danger-text-disabled: #f6b6b6;
  --button-secondary-danger-focus-bg: #f6b6b6;
  --button-secondary-danger-focus-text: #c31818;
  --button-neutral-normal: #eaedf0;
  --button-neutral-hover: #dfe2e7;
  --button-neutral-pressed: #d6dbe1;
  --button-neutral-disabled: #eaedf0;
  --button-neutral-text: #081c36;
  --button-neutral-text-disabled: #b6bec9;
  --button-neutral-focus-bg: #e5efff;
  --button-neutral-focus-text: #005ae0;
  --button-tertiary-primary-normal: transparent;
  --button-tertiary-primary-hover: #e5efff;
  --button-tertiary-primary-pressed: #c7e0ff;
  --button-tertiary-primary-disabled: transparent;
  --button-tertiary-primary-text: #0068ff;
  --button-tertiary-primary-text-disabled: #abcdff;
  --button-tertiary-primary-focus-bg: #c7e0ff;
  --button-tertiary-primary-focus-text: #005ae0;
  --button-tertiary-danger-normal: transparent;
  --button-tertiary-danger-hover: #fbdfdf;
  --button-tertiary-danger-pressed: #f9cdcd;
  --button-tertiary-danger-disabled: transparent;
  --button-tertiary-danger-text: #d91b1b;
  --button-tertiary-danger-text-disabled: #f6b6b6;
  --button-tertiary-danger-focus-bg: #f9cdcd;
  --button-tertiary-danger-focus-text: #c31818;
  --button-tertiary-neutral-normal: transparent;
  --button-tertiary-neutral-hover: #dfe2e7;
  --button-tertiary-neutral-pressed: #d6dbe1;
  --button-tertiary-neutral-disabled: transparent;
  --button-tertiary-neutral-text: #081c36;
  --button-tertiary-neutral-text-disabled: #b6bec9;
  --button-tertiary-neutral-focus-bg: #e5efff;
  --button-tertiary-neutral-focus-text: #005ae0;
  --button-primary-normal: #0068ff;
  --border-focused: #0068ff;
  --field-bg-filled: #eaedf0;
  --button-tertiary-neutral-hover: #dfe2e7;
  --tab-txt: #7589a3;
  --item-wa-hover: #eaedf0;
  --white-message: #fff;
  --blue-message: #e5efff;

  --B50: #3989ff;
  --BA20: rgba(0, 0, 0, 0.2);
  --BA50: rgba(0, 0, 0, 0.5);
  --WA100: #fff;

  --nav-width: 408px;
}

.zLogin-layout {
  max-width: 600px;
  height: 100%;
  margin: 0px auto;
  padding: 24px 20px 0px;
  width: 500px;
}

.animated {
  animation-duration: 0.7s;
  animation-fill-mode: both;
}
.fadeIn {
  animation-name: fadeIn;
}
.header {
  position: relative;
}

.header h2 {
  display: block;
  margin-bottom: 18px;
  color: rgb(51, 51, 51);
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
}

/* Specific CSS */

.form-signin {
  width: 100%;
  display: flex;
  gap: 24px;
}

#container.WEB {
  padding-top: 0;
  margin-top: 0;
  height: 100%;
}

#container {
  overflow: hidden;
  margin-top: -24px;
  padding-top: 24px;
}

#main-tab {
  width: 64px;
  flex: none;
  box-sizing: border-box;
  background: var(--layer-background-leftmenu);
  position: relative;
  z-index: 11;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#sidebar-nav {
  /* display: flex;
  width: var(--nav-width); */
}

nav {
  /* width: var(--nav-width);s */
  height: 100vh;
  background-color: var(--layer-background);
  border-right: 1px solid var(--border);
}

.nav__tabs__zola {
  height: 100px;
  justify-content: center;
  display: flex;
  padding-top: 32px;
  box-sizing: border-box;
}

.nav-tabs-bottom {
  width: 100%;
}

.nav-btn-container {
  height: 64px;
}

.tab-selected,
.nav-btn-container:hover {
  background: rgba(0, 0, 0, 0.1);
}

.nav-btn {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}

.nav-btn:focus {
  box-shadow: none;
}

.nav-btn-icon {
  font-size: 1.5rem;
}

#contact-search {
  height: 64px;
  min-height: 64px;
  position: relative;
  background-color: var(--layer-background);
  transition: visibility 0s, opacity 0.5s linear;
  overflow: visible;
  padding: 0 16px;
}

#contact-search-input {
  height: 32px;
  background-color: var(--field-bg-filled);
  border: 1px solid var(--field-bg-filled);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  line-height: 32px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
}

#contact-search-input:focus {
  background-color: var(--layer-background);
  outline: none;
  border-color: var(--border-focused);
  box-shadow: none;
}

#contact-search .group-search {
  position: relative;
  display: flex;
  height: 32px;
}

.panel-container {
  /* width: 100%; */
  border-right: 1px solid var(--border);
}

.icon-group {
  gap: 12px;
  display: flex;
}

.contact-icon {
  height: 32px;
  width: 32px;
}

.contact-icon:hover {
  cursor: pointer;
  background-color: var(--button-tertiary-neutral-hover);
}

.conversation-filter {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border);
}

.filter-types {
  gap: 16px;
}

/* Overwrite theme */

.p-button-label {
  font-weight: 500;
}

.p-button.p-button-link {
  color: #333;
  background: transparent;
  border: transparent;
}

.input {
  width: 100%;
}

.tab-item {
  border-bottom: 2px solid transparent;
  color: var(--tab-txt);
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: -1px;
  transition: border-color 0.2s;
  min-width: fit-content;
  font-weight: 500;
}

.tab-item.selected {
  color: var(--border-focused);
  border-bottom: 2px solid var(--border-focused);
}

.label-filter-preview {
  max-width: 140px;
}

.filter-preview-v2,
.user-single-filter-preview {
  width: fit-content;
  padding: 0 4px 0 8px;
  color: var(--text-primary);
  max-width: 100%;
  box-sizing: border-box;
  height: 24px;
  border-radius: 12px;
  max-width: 120px;
}

.filter-preview-v2:hover,
.user-single-filter-preview:hover {
  background: var(--item-wa-hover);
}

.icon-option {
  height: 24px;
  padding: 0px 8px;
  border-radius: 16px;
}

.conversation-preview-wrapper {
  position: relative;
  width: 100%;
}

.msg-item {
  height: 74px;
  width: 100%;
  overflow-y: auto;
  max-height: 100px;
}

#conversation-list {
  position: relative;
  display: block;
  flex: 2 1 0%;
}

.virtualized-scroll {
  position: relative;
  /* overflow: hidden; */
  width: 360px;
  height: 1500px;
  outline: none;
}

.inner-vir-scroll {
  position: absolute;
  inset: 0px;
  overflow: scroll;
  margin-right: -6px;
  margin-bottom: -6px;
}

.scroll {
  box-sizing: border-box;
  direction: ltr;
  height: 1502px;
  position: absolute;
  width: 344px;
  will-change: transform;
}

.grip-inner-scroll-container {
  width: auto;
  height: 1502px;
  max-width: 344px;
  max-height: 1502px;
  overflow: hidden;
  position: relative;
}

.conv-item {
  height: 100%;
  contain: size style;
  background-color: var(--layer-background);
  transition: background-color 80ms;
  cursor: pointer;
  overflow: hidden;

  gap: 0px;
  grid-template-columns: 60px auto;
}

.conv-item:hover {
  background: var(--layer-background-hover);
}

.conv-rel {
  position: relative;
}

.gridv2 {
  display: grid;
  padding: 0 16px;
}

.conv-content {
  display: flex;
  align-items: center;
}

.conv-title {
  width: 100%;
  /* gap: 4px; */
}

.conv-name {
  flex: 0.8;
  overflow: hidden;
  white-space: nowrap;
  align-self: flex-end;
  align-items: center;
  height: 24px;
  max-width: calc(100% - 8px);
  text-overflow: ellipsis;
  display: block;
  color: #000;
}

.conv-last-seen {
  flex: 0.2;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--icon-secondary);
  position: relative;
  display: flex;
  justify-content: flex-end;
  grid-column-start: 3;
  grid-column-end: 5;
}

.conv-body {
}

.conv-dbname {
  min-width: 0;
  max-width: fit-content;
  flex: 0 0 100%;
  margin-right: 4px;
}

.conv-message {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  line-height: 18px;
  position: relative;
  color: var(--text-secondary);
  left: 0;
}

main {
  display: flex;
  position: relative;
  z-index: 10;
  overflow: hidden;
  flex: 1;
  background: var(--layer-background);
}

.main__center {
  display: flex;
  width: 100%;
  transition: width 0.25s;
  transition-timing-function: step-end;
}

header {
  display: flex;
  height: 68px;
  padding: 0 16px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-color: var(--layer-background);
  width: 100%;
  align-items: center;
}

#header {
  display: flex;
  flex-flow: row nowrap;
}

.chat-info {
  flex: 0.85;
  width: calc(100% - 210px);
}

.chat-title {
  position: relative;
  margin-left: 12px;
  margin-right: 18px;
}

.header-title {
  color: var(--text-primary);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  padding-left: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
  cursor: default;
  height: 28px;
  overflow: visible;
}

.group-action {
  flex: 0.15;
  justify-content: space-between;
}

.new-separator {
  background: var(--border);
  height: 12px;
  width: 1px;
  min-width: 1px;
  margin: 0 8px;
}

.label-ico-header {
  font-size: 1.125rem;
  width: 1.125rem;
  height: 1.125rem;
  line-height: 0;
  position: relative;
  top: 1px;
}

.message-view {
  flex: 1 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message-view__blur__overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: hsla(0, 2%, 90%, 0.43);
  z-index: -1;
  contain: strict;
}

#toolbar.chat-input-v2 {
  padding: 0 0 0 8px;
  height: 46px;
  background: var(--layer-background);
  z-index: 4;
  border-top: 1px solid var(--border);
}

.drag-over-overlay {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.95;
  padding: 8px;
  transition: all 0.3s;
  display: none;
}

#messageViewContainer {
  flex: 1 1 auto;
  transition: 0.2s ease-out;
}

.message-view__scroll {
  position: relative;
  flex: 1 0 auto;
  contain: layout style size;
  bottom: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.messsage-view__scroll_outer {
  position: absolute;
  inset: 0px;
  overflow: scroll;
  margin-right: -6px;
  margin-bottom: -6px;
  will-change: transform;
}

.message-view__scroll__inner {
  min-height: 100%;
  display: flex;
  padding-bottom: 28px;
  flex-direction: column;
  justify-content: flex-end;
  contain: layout style;
}

.fadeInAndOut {
  animation: fadeInAndOut 0.4s ease;
}

.preview-ts .block-date:first-child {
  margin-top: 10px;
}

.preview-ts .block-date > .chat-date.island {
  z-index: 5;
}

.preview-ts .block-date > .chat-date.--time {
  width: 116px;
  border-radius: 10px;
  margin: 0 auto 10px;
}

.preview-ts .block-date > .chat-date {
  transition: 0.3s ease-out;
  position: relative;
  border-radius: 10px;
}
.chat-date {
  color: #fff;
  contain: content;
  margin: 0 60px 10px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  justify-content: center;
  position: relative;
}

.preview-ts .block-date > .chat-date > .content {
  width: fit-content;
  text-align: center;
}
.preview-ts .block-date > .chat-date > span {
  backdrop-filter: blur(10px);
}

.chat-date > span {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2px 10px 3px;
  z-index: 2;
}

.chat-item {
  margin: 0 16px 7px;
  word-wrap: break-word;
  contain: style;
  word-break: break-all;
  word-break: break-word;
}

.chat-content {
  margin: 0 0 0 10px;
  max-width: calc(100% - 30px);
}

.chat-message {
  display: -webkit-flex;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  color: var(--text-primary);
}

.audio-expired,
.card {
  position: relative;
  display: block;
  padding: 12px;
  border-radius: 8px;
  background: var(--WA100);
  color: var(--text-primary);
  margin-bottom: 4px;
}

.card--text.audio-expired:not(.me),
.card.card--text:not(.me) {
  background-color: var(--white-message);
}
.card--text.audio-expired,
.card.card--text {
  user-select: text;
  min-width: 40px;
  max-width: calc(100% - 38px);
}

.audio-expired,
.card {
  position: relative;
  display: block;
  padding: 12px;
  border-radius: 8px;
  background: var(--WA100);
  color: var(--text-primary);
  margin-bottom: 4px;
}

.card--text.show-sender.audio-expired > .card-sender-name,
.card.card--text.show-sender > .card-sender-name {
  margin-bottom: 6px;
  color: var(--text-secondary);
}

.card.me,
.me.audio-expired {
  background-color: var(--blue-message);
}

.card-sender-name {
  color: var(--text-secondary);
  margin-bottom: 10px;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
}

.card-content {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
}

.card-send-time {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  user-select: none;
  width: 100%;
}

.card-send-time__sendTime {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #476285;
}

.chat-item.me {
  margin: 0 16px 7px;
  flex-flow: row-reverse nowrap;
}

.chat-message.me {
  justify-content: flex-end;
}

.chat-input {
  background: var(--layer-background);
  flex: none;
  position: relative;
}

.chat-input__content {
  border-top: 1px solid var(--border);
  background-color: var(--layer-background);
}

.chat-input__content.highlight {
  background-color: var(--layer-background);
  border-top: 1px solid var(--border-focused);
}

.chat-input__content__input {
  width: 100%;
  padding: 4px 0px;
}

.chat-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rich-input {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  text-shadow: 0 0 0 var(--BA50);
  box-sizing: border-box;
  min-height: 16px;
  max-height: 182px;
  justify-content: center;
  flex-direction: column;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 12px 10px 18px 16px;
  overflow: auto;
  flex: 1 1 auto;
  position: relative;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

.input-bar {
  flex: 0.8;
}

.input-action-group {
  flex: 0.2;
}

.menu-contact {
  height: calc(100vh - 68.5px);
  width: 100%;
  max-width: 100%;
  min-width: 300px;
  transition: visibility 0s, opacity 0.5s linear;
}

.menu-item {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  height: 56px;
  padding: 0 18px;
  color: var(--text-primary);
  cursor: pointer;
}

.menu-item:hover {
  background-color: var(--layer-background-hover);
}

.menu-item.selected {
  background-color: var(--layer-background-selected);
}

.menu-name {
  margin: 0;
  padding: 0 14px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-primary);
  cursor: pointer;
}

.contact-pages.page-container {
  flex: 1;
  background: var(--NG10);
  z-index: 6;
}

.head__page__contact__tab {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-primary);
  height: 64px;
  padding: 0 19px;
  border-bottom: 1px solid var(--border-disabled);
  background: var(--layer-background);
  flex-flow: row nowrap;
}

.contact-pages.page-container .card-list-wrapper {
  margin: 0 auto;
  padding: 0 16px;
}

.contact-pages.page-container .card-list-wrapper > .list {
  height: calc(100% - 64px);
}

.card-list-title {
  height: 64px !important;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-primary);
  justify-content: space-between;
  background: var(--NG10);
}

.contact-filter-container {
  height: 64px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 100%;
}

.contact-filter-wrapper {
  background: var(--layer-background);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.contact-pages.page-container .contact-filter-wrapper > .filter {
  flex-wrap: wrap;
}

.filter {
  width: 100%;
  display: flex;
}

.no-border.zl-dlg-paper,
.zl-fl-dlg > .no-border.zl-fl-dlg__paper,
.zl-modal__dialog.no-border {
  border: none;
}

.animated,
.animated.zoomIn,
.animated.zoomOut {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.zl-modal__dialog {
  width: 587px;
  background: var(--layer-background);
  border: 1px solid var(--border);
  border-radius: 4px;
  contain: layout;
  max-height: calc(100% - 20px);
  overflow: hidden;
  will-change: transform;
}

/* @media only screen and (max-height: 800px) .zl-dlg-paper,
  .zl-fl-dlg > .zl-fl-dlg__paper,
  .zl-modal__dialog {
  max-height: calc(100% - 20px);
} */

.zl-modal__dialog__header {
  padding: 0 8px 0 16px;
  display: flex;
  position: relative;
  height: 48px;
  min-height: 48px;
  justify-content: left;
  border-bottom: 1px solid var(--border);
  align-items: center;
}

.flx-sp-btw {
  justify-content: center;
}

.zl-modal__dialog__header__title-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  display: block;
}

.z--btn--v2.icon-only.medium {
  max-width: 32px;
  min-width: 32px;
}

.z--btn--v2.icon-only {
  padding: 0;
}

.z--btn--v2.--full-rounded {
  border-radius: 20px;
}

.z--btn--v2.btn-tertiary-neutral {
  background-color: var(--button-tertiary-neutral-normal);
  color: var(--button-neutral-text);
}
.z--btn--v2.icon-only-2.medium > .pre,
.z--btn--v2.icon-only.medium > .pre {
  font-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.z--btn--v2.medium {
  height: 32px;
}
.modal-header-icon {
  color: var(--text-secondary);
}
.z--btn--v2,
.z--btn--v2.small {
  font-weight: 500;
  line-height: 1.5;
}
.z--btn--v2 {
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 16px;
  font-size: 1rem;
  width: fit-content;
  min-width: max-content;
}
.all-transition,
.chips,
.chips.--l > .post,
.chips.--m > .post,
.leftbar-tab,
.z--btn--v2 {
  -webkit-transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.zl-modal__dialog-body.free-height {
  height: auto;
  overflow-y: inherit;
}
.zl-modal__dialog-body.no-padding {
  padding: 0;
}
.zl-modal__dialog-body {
  padding: 14px 16px 0;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.no-padding {
  padding: 0 !important;
}

.stack-navigation {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: height 0.2s ease;
  transition-duration: 0.2s;
  will-change: height;
  width: 100%;
}
.stack-navigation .stack-page {
  position: absolute;
  inset: 0;
  background: var(--WA100);
}

.pi-footer-section {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px;
  height: 68px;
  border-top: 1px solid var(--border);
  background-color: var(--WA100);
  box-sizing: border-box;
  width: 100%;
  flex-flow: row nowrap;
}

.z--btn--v2.btn-neutral {
  background-color: var(--button-neutral-normal);
  color: var(--button-neutral-text);
}
.z--btn--v2.btn-neutral:active {
  background-color: var(--button-neutral-pressed);
}
.z--btn--v2.btn-neutral:hover {
  background-color: var(--button-neutral-hover);
}
.z--btn--v2.btn-primary {
  background-color: var(--button-primary-normal);
  color: var(--button-primary-text);
}
.z--btn--v2.btn-primary:active {
  background-color: var(--button-primary-pressed);
}
.z--btn--v2.btn-primary:hover {
  background-color: var(--button-primary-hover);
}
.z--btn--v2.btn-primary[data-disabled="disabled"] {
  background-color: var(--button-primary-disabled);
  color: var(--button-primary-text-disabled);
  pointer-events: none;
}
.z--btn--v2.large {
  height: 40px;
}
.z--btn--v2,
.z--btn--v2.small {
  font-weight: 500;
  line-height: 1.5;
}
.z--btn--v2 {
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 16px;
  font-size: 1rem;
  width: fit-content;
  min-width: max-content;
}
.all-transition,
.chips,
.chips.--l > .post,
.chips.--m > .post,
.leftbar-tab,
.z--btn--v2 {
  -webkit-transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.zl-group-input {
  position: relative;
  width: 100%;
  border: 1px solid var(--border);
  background: var(--layer-background);
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}

.zl-group-input .zl-group-input__appearance--rounded {
  border-radius: 20px;
}

.zl-group-input:focus-within {
  border: 1px solid var(--B50);
  /* border-radius: 20px; */
  outline: none;
  box-shadow: none;
}

.zl-group-input__lg {
  height: 38px;
  line-height: 38px;
}

.zl-group-input__affix-wrapper__prefix-icon,
.zl-group-input__affix-wrapper__suffix-icon {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--icon-secondary);
  padding-left: 8px;
  left: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: fit-content;
  height: fit-content;
  font-size: 0.875rem;
  line-height: 0;
}

.zl-group-input .zl-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  position: relative;
  width: 100%;
  padding: 0 12px;
  padding-left: 12px;
  color: var(--text-primary);
  background-image: none;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.zl-group-input.zl-group-input__appearance--rounded,
.zl-group-input.zl-group-input__appearance--rounded > .zl-input {
  border-radius: 20px;
}

.zl-group-input.zl-group-input__appearance--text {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.create-group__avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid var(--border);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-secondary);
  overflow: hidden;
  margin-right: 10px;
}

.create-group__tags-wrapper {
  position: relative;
  overflow: hidden;
  height: 62px;
  border-bottom: 1px solid var(--border);
}

.create-group__tags-containter {
  position: absolute;
  inset: 0px;
  overflow: scroll;
  margin-right: 0px;
  margin-bottom: 0px;
}

.create-group__tags {
  margin: 16px 0 0;
  padding-bottom: 20px;
}
.create-group__tags .cg-tag {
  margin-right: 8px;
}

.chips.--m {
  height: 24px;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  line-height: 24px;
}
.chips--choice {
  color: var(--button-neutral-text);
  background: var(--button-neutral-normal);
}
.chips {
  border: none;
  border-radius: 16px;
  padding: 0 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.chips--choice.--active {
  background: var(--button-primary-normal);
  color: var(--button-primary-text);
}

.create-group__selected-section {
  width: 184px;
  transition: width 0.3s;
  overflow: hidden;
  margin-bottom: 16px;
}

.create-group__selected-section > div {
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 12px 0 0 12px;
  width: 170px;
  min-width: 170px;
  margin-top: 12px;
}

.create-group__selected-section.no-item {
  width: 0;
  max-width: 0;
}

.create-group__selected-title {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 8px;
}

.create-group__counter {
  height: 20px;
  padding: 0 8px;
  background: var(--B10);
  color: var(--text-information);
  border-radius: 4px;
  margin-left: 4px;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
}

.create-group__item-container {
  height: 52px;
  width: 100%;
}

.create-group__item {
  padding: 0 5px;
  border-radius: 4px;
  background: var(--layer-background);
  cursor: pointer;
}

.create-group__item:hover {
  background: var(--layer-background-hover);
}

.create-group__item__avatar {
  margin-left: 8px;
}

.create-group__item__name {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  max-width: calc(100% - 12px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
}

.virtualized-scroll {
  position: relative;
  overflow-x: hidden;
  outline: none;
}
